#header{  
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: larger;
}
#nav_bar{
    color: white;
}
#bruh{
    width: 50%;
    margin: auto;

}
#bigger{
    font-size: large;
}
p{
    margin: 0
}
#form{
    font-size: xx-small;
}
#bad_jokes{
    background-color: #444;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;

}